<div class="main-container">
  <div class="input-section">
    <div class="input-group">
      <label for="x1">x1</label>
      <input id="x1" type="number" [(ngModel)]="x1">
    </div>

    <div class="input-group">
      <label for="y1">y1</label>
      <input id="y1" type="number" [(ngModel)]="y1">
    </div>

    <div class="input-group">
      <label for="x2">x2</label>
      <input id="x2" type="number" [(ngModel)]="x2">
    </div>

    <div class="input-group">
      <label for="y2">y2</label>
      <input id="y2" type="number" [(ngModel)]="y2">
    </div>

    <button class="calculate-button" (click)="calcularDistancia()">CALCULAR</button>
  </div>

  <div class="result-section">
    <p>La distancia entre los dos puntos es: {{resultado}}</p>
  </div>
</div>